@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Colleghiamo le variabili definite nel RootLayout */
  --font-sans: var(--font-archivo);
  --font-titoli: var(--font-archivo-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Manteniamo lo sfondo bianco come richiesto dal design Madera */
    --background: #ffffff; 
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Applichiamo il font Archivo come base per tutto il sito */
  font-family: var(--font-archivo), sans-serif;
}